body {
    background-color: gray;
}
header {
    max-width: 100px;

}
* {
    margin: 0;
    padding: 0;
}
.sample {
    width: 100px;
    height: 200px;
    display: inline;

}
.sample img {
    border-radius: 50%;
    border: 20px solid rgb(65, 61, 61);
    margin: 60px;
    height: 260px;
    width: 260px;
    background-color: gray;
}
