body {
    background-color: gray;
}
header {
    max-width: 100px;

}
* {
    margin: 0;
    padding: 0;
}
.sample {
    width: 100px;
    height: 200px;
    display: inline;

}
.sample img {
    border-radius: 50%;
    border: 20px solid rgb(65, 61, 61);
    margin: 60px;
    height: 260px;
    width: 260px;
    background-color: gray;
}
.home-title {
    font-family:'Rock Salt', 'Bradly Hand', sans-serif;
    font-size: 2em;
}
.p {
    background-color: #6f7364;
    line-height: 1.5em;
}


