#content {
    max-width: 1800px;
    margin: 0 auto;
    
}

#background {
    height: 725px;
    background-color: rgba(105, 0, 0, 0.884);
    grid-column: 1/11;
    grid-row: 4/9;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

body {
    background-color: #ffffff;
    font-family: 'Titan One' Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: center;
    background-color: #554e4e;
    

}


header {
    background-color: rgb(102, 0, 0);
    display: grid;
    grid-template-columns: 150px auto;
    
}

nav {
    display: flex;
    justify-content: space-evenly; 
}

nav a:hover  {
    color: black;
    background-color: #c2c2c785;
    
}

nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: left;
    padding: 30px;
    font: 'Titan One' Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


footer {
    background-color: rgb(102, 0, 0);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.logo {
    width: 80px;
    

}
footer .social img {
    padding-top: 15px;
}

h3 {
    color:white;
    font-family: cursive;
}
h3 a {
    color: white;
}
h3 a:hover {
    color: black;
}
